In [1]:
import pandas as pd
data = pd.read_csv('Book1.csv')

In [2]:
data.head(100)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,NaN,NaN,NaN
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,NaN,NaN,NaN
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,NaN,NaN,NaN
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,NaN,NaN,NaN
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Super built-up Area,Ready To Move,Domlur,3 BHK,NaN,1540,3.0,2.0,90.00,NaN,NaN,NaN
96,Plot Area,Ready To Move,Kengeri,4 Bedroom,Goardth,2894,4.0,1.0,245.00,NaN,NaN,NaN
97,Super built-up Area,Ready To Move,Sarjapura - Attibele Road,3 BHK,NaN,1330,2.0,1.0,48.00,NaN,NaN,NaN
98,Built-up Area,Ready To Move,Devasthanagalu,2 BHK,NaN,1200,2.0,1.0,65.00,NaN,NaN,NaN
99,Built-up Area,Ready To Move,T Dasarahalli,3 Bedroom,NaN,1200,3.0,1.0,90.00,NaN,NaN,NaN

In [4]:
data.shape

(186, 12)

In [5]:
data.location.shape

(186,)

In [6]:
data.location.value_counts(ascending=True)

Devarachikkanahalli     1
Vishwapriya Layout      1
T Dasarahalli           1
 Mysore Highway         1
Tharabanahalli          1
                       ..
Yelahanka               5
Kanakpura Road          5
Thanisandra             7
Whitefield              9
Electronic City        11
Name: location, Length: 119, dtype: int64

In [7]:
pd.get_dummies(data.location)

,Devarachikkanahalli,Mysore Highway,Thanisandra,7th Phase JP Nagar,8th Phase JP Nagar,8th block Koramangala,Adarsh Nagar,Akshaya Nagar,Anandapura,Attibele,...,Uttarahalli,Vajarahalli,Varthur,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Whitefield,Yarandahalli,Yelahanka,Yeshwanthpur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
pd.get_dummies(data.location).shape

(186, 119)

In [9]:
pd.get_dummies(data)

,bath,balcony,price,Unnamed: 9,Unnamed: 10,Unnamed: 11,area_type_Built-up Area,area_type_Plot Area,area_type_Super built-up Area,availability_17-Aug,...,total_sqft_840,total_sqft_845,total_sqft_869,total_sqft_880,total_sqft_890,total_sqft_945,total_sqft_950,total_sqft_957,total_sqft_966,total_sqft_970
0,2.0,1.0,39.07,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,5.0,3.0,120.00,NaN,NaN,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,62.00,NaN,NaN,NaN,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,1.0,95.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2.0,1.0,51.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,3.0,2.0,155.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
182,3.0,2.0,145.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
183,3.0,2.0,110.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
184,2.0,1.0,52.00,NaN,NaN,NaN,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
185,3.0,2.0,300.00,NaN,NaN,NaN,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0